[run]
branch = False

[report]
; Regexes for lines to exclude from consideration
exclude_also =
    ; Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    ; Don't complain about abstract methods, they aren't run:
    @(abc\.)?abstractmethod

ignore_errors = True
omit =
    # omit everything in /test
    ./test/*

[html]
directory = htmlcov