cryptography>=3.3.2; python_version == '2.7'
cryptography>=39.0.1; python_version > '2.7' and python_version < '3.6'
cryptography>=40.0.2; python_version >= '3.6' and python_version < '3.7'
cryptography>=42.0.3; python_version >= '3.7'
dnspython>=1.16.0; python_version == '2.7'
dnspython3>=1.15.0; python_version > '2.7'
ipy>=1.1
jsonschema>=4.0.0
requests>=2.27.1; python_version < '3.7'
requests>=2.31.0; python_version >= '3.7'
six>=1.16.0
validators>=0.14.2; python_version == '2.7'
validators>=0.20.0; python_version > '2.7'
coverage>=7.4.0
pytest>=4.6; python_version == '2.7'
pytest>=8.0; python_version > '2.7'